.App {
  text-align: center;
  background-color: bisque;
  border: 12px black;
  border-radius: 50px;
  padding: auto;
}

.button{
  border-style: groove;
  box-shadow: 25px;
}

.Answer{
  background-color: azure;
  border-radius: 3px;
  padding: auto;
}